#root {
  margin: 0 24px;
}

.title {
  font-size: 48px;
  font-weight: lighter;
  text-align: center;
}
.todo-content {
  max-width: 560px;
  margin: auto;
  margin-bottom: 40px;
}

.todo-list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 32px;
}

.todo-item {
  list-style: none;
  font-size: 20px;
  position: relative;
  margin-bottom: 16px;
}

.todo-label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}

input[type=checkbox] {
  display: none;
}

.todo-label::before
 {
  position: absolute;
  left: 0;
  top: 2px;
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid #000;
}

.todo-label::after {
  position: absolute;
  content: "";
  left: 6px; 
  top: -2px;
  width: 9px; 
  height: 15px; 
  border-right: 2px solid #000; 
  border-bottom: 4px solid #000; 
  transform: rotate(45deg); 
  opacity: 0;
}


input[type=checkbox]:checked + .todo-label::after {
  opacity: 1; 
  }

.todo-check {
  margin: 0;
  margin-right: 8px;
}

.todo-remove {
  position: absolute;
  right: 0;
  font-size: 15px;
  color: #fff;
  background-color: #000;
  /* height: 23px;
  width: 23px; */
  padding: 0 6px;
}

.todo-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.todo-additem {
  font-size: 20px;
  border: 1px solid #000;
  margin-right: 16px;
  flex: 0 1 85%;
  padding: 4px 8px;
}

.todo-add,
.todo-purge {
  font-size: 15px;
  color: #fff;
  background-color: #000;
  flex: 1;
  padding: 6px 12px;
}

.todo-uncompleted {
  font-size: 20px;
  margin-bottom: 32px;
}